<div class="container-fluid mt-3">

    <section id="count-section">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <mat-card>
                   a
                </mat-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <mat-card>
                    b
                </mat-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <mat-card>
                    c
                </mat-card>
            </div>
        </div>
    </section>

</div>